.vscode/
.gitignore
src/
server/src/
server/node_modules/.bin/
server/node_modules/typescript/
server/node_modules/@types/
tsconfig.json
server/tsconfig.json
**/*.ts
**/*.map
**/.eslintrc*
**/tsconfig*.json
